* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #131415;
  font-family: "Poppins", sans-serif;
}

.head-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  width: 250px;
  height: 150px;
  margin-left: 30px;
  margin-top: 10px;
  padding: 10px;
}

hr {
  border: 2px solid #e11d48;
  background-color: #e11d48;
}

a {
  text-decoration: none;
  color: #e11d48;
  font-size: 18px;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 50px;
  padding-top: 100px;
  padding-right: 120px;
}

ul {
  list-style: none;
}

.logo-nav {
  display: flex;
}

li :hover {
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  padding: 7px 0;
  margin-top: 65px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 30px;
}

.hero-info h1 {
  width: 50%;
  min-width: 500px;
}

.hero-info p {
  width: 70%;
  min-width: 500px;
}

.hero-card {
  display: flex;
  background-color: cadetblue;
  border-radius: 20px;
  margin: 4rem;
}

.hero-card img {
  width: 400px;
}

#page-info {
  display: flex;
  margin: 3rem;
  color: #ffff;
}

#page-info h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-page {
  display: flex;
  padding: 70px 0;
  flex-direction: column;
  gap: 40px;
}

.link-hero {
  display: flex;
  gap: 20px;
}

.link-hero #ws {
  background-color: green;
  max-width: fit-content;
  border: 2px solid greenyellow;
  border-radius: 10px;
  color: white;
  padding: 5px;
}

.link-hero #gmail {
  background-color: crimson;
  max-width: fit-content;
  border: 5px solid red;
  border-radius: 10px;
  color: white;
  padding: 5px;
}
